body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pure-form {
  padding: 1rem;
}

.pure-form-message-inline {
  color: red;
}

.header {
  border-bottom: 2px solid #ddd;
}

.header-controls {
  margin-top: 2em;
  text-align: right;
}

.product-box {
  padding: 8px;
  margin: 8px;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 4px;
  -webkit-box-shadow: 6px 6px 24px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 6px 6px 24px -16px rgba(66, 68, 90, 1);
  box-shadow: 6px 6px 24px -16px rgba(66, 68, 90, 1);
}

.delete-checkbox {
  float: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid #ddd;
  background-color: #fff;
}
